<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_STT_API_KEY</key>
	<string>AIzaSyAhbY3IyFP4Im-oVjx19IqVDe9j25CoPUo</string>
	<key>OPEN_AI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
